@{
    ViewBag.Title = "Webshop - DotNetAcademy";
}

<div class="jumbotron">
    <h1>Webshop</h1>
    <p class="lead">Bestel hier alle online cursussen beschikbaar op DotNet Academy</p>
    <p><a href="" class="btn btn-primary btn-lg">Zie cursussen &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zie users</h2>
        <p>
            Lijst van alle users
        </p>
        <p><a class="btn btn-default" href="">Zie users &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zie facturen</h2>
        <p>Lijst van alle facturen</p>
        <p><a class="btn btn-default" href="">Zie facturen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Zie lessen</h2>
        <p>Lijst van alle lessen</p>
        <p><a class="btn btn-default" href="">Zie lessen &raquo;</a></p>
    </div>
</div>